html {
  flex: fkex;
  flex-direction: column;
  flex-wrap: inherit;
  flex: auto;
  background-color: rgba(83, 13, 148, 0.911);
}
body {
  flex-direction: column;
  flex-wrap: inherit;
}
.ghostpost {
  background-color: rgba(156, 22, 105, 0.726);
  font-family: Impact, Charcoal, sans-serif;
  width: 25%;
  box-shadow: 3px 9px;
}

.container2 {
  flex-direction: column-reverse;
  font-family: Impact, Charcoal, sans-serif;
  background-color: rgba(83, 13, 148, 0.911);
  background-image: url("./gengar2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-shadow: 0px 8px;
}

.head {
  background-color: rgba(49, 9, 29, 0.685);
  height: 30%;
  width: 100%;
}
a {
  color: black;
}
